<!--Autor: 21133 Paula Rodrigues-->
<div class="container py-5 px-lg-5 alinhar-vertical" 
style="margin-top: 3rem;">

    <div class="head alinhar-horizontal">
        <div><p class="titulo">Criar Prova </p>
        </div>

        <div><p class="tipoProva">*Tipo de Prova</p>
        </div>
<!--provas em estradas, provas em pistas, provas de montanha (Mountain Bike ou MTB) e BMX -->
        <div>
            <p class="escolher_prova">
            <select class="scroll" id="prova" name="tipo_prova" placeholder="Selecione" required> <!-- required -->>
            <option hidden disabled selected value>Selecione</option>
            <option value="Estrada">Estrada</option>
            <option value="Pista">Pista</option>
            <option value="Montanha">Montanha</option>
            <option value="BMX">BMX</option>
            </select>
            </p>
        </div>
    </div>

    <div class="barra2"></div>

    <!-- Parte do nome, localidade e distancia-->
    <div class="NLD alinhar-horizontal">
        <div class="nome alinhar-vertical"> 
           <label  for="fname">*Nome</label>

            <input  class="nome1" type="text" id="fname" name="nome" aria-describedby="nome" [(ngModel)]= "criarRace.nome" required/>

        </div>
        <div class="localidade alinhar-vertical"> 
            <label for="fname">*Data/ Inicio: </label>
            <input class="data1" type="datetime-local" id="fname" name="fname" [(ngModel)]= "criarRace.dataInicio" required/>
        </div>
        
        <div class="alinhar-vertical">
            
            <label class="distancia"> *Distância:</label>
            <div>
                <input class="distancia1" type="number" min="0" id="fname" name="fname" [(ngModel)]= "criarRace.distancia" required/>
                <label class="km">km</label>
            </div>
            
        </div>

        <div class="alinhar-vertical"> 
            <label class="tempo">*Tempo previsto: </label>
            <div>
                <input class="tempo1" type="number" id="fname" name="fname" [(ngModel)]= "criarRace.tempoPre" required/> 
                <label class="h">h</label> 
            </div>  
        </div>

        
    </div>

<!-- Parte da Data e tempo previsto -->
    <div class="DT alinhar-horizontal">
        <div class="localidade alinhar-vertical"> 
            <label class="localidade" for="fname">*Cidade</label>
            <input class="localidade1" type="text" id="fname" name="fname" [(ngModel)]= "local.cidade" required/>
        </div>
        <div class="localidade alinhar-vertical"> 
            <label  for="fname">*Localidade</label>
            <input class="localidade1" type="text" id="fname" name="fname" [(ngModel)] = "local.localidade" required/>
        </div>
        <div class="localidade alinhar-vertical"> 
            <label  for="fname">*Lugar</label>
            <input class="localidade1" type="text" id="fname" name="fname" [(ngModel)] = "local.lugar" required/>
        </div>
        
    </div>

    <!-- Parte do Incio -->
    <div class="alinhar-horizontal"> 
        <div class="localidade alinhar-vertical"> 
            <label  for="fname">*Federação</label>
            <input class="localidade1" type="text" id="fname" name="fname" [(ngModel)] = "criarRace.federacao" />
        </div>
        
    </div>
<!-- Parte da descrição -->
    <div class="alinhar-horizontal"> 
        <div class="descricao alinhar-vertical"> 
            <label  for="fname">Estado: </label>
             <input class="descricao2" type="text" id="fname" name="fname" [(ngModel)] = "criarRace.estado" />
         </div>
         <button class="criar" (click)="createRACE()" >
            Criar
        </button>
    </div>

   

    
    
</div>