<div id="includeContent"></div>
<div class="wrapper">
    <div id="includeSideBar">
        
        <!-- Sidebar  -->
        <nav id="sidebar" style="height: 100%;">
            <div class="sidebar-header">
                <h3>Definições</h3>
                <strong>BS</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a routerLink="/contadefinitions">
                        <img src="/src/app/compoments/conta/account-definitions/images/profileConfigurationIcon.png" width="23px"
                            height="23px">
                        <label style="color: black;">Definições de conta</label>
                    </a>
                </li>
                <li>
                    <a routerLink="/privacyDefinitions">
                        <img src="/src/app/compoments/conta/account-definitions/images/privacyConfigurationIcon.png" width="23px"
                            height="23px">
                        <label style="color: black;">Definições de privacidade</label>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h1>Definições de conta</h1>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                    <label>Nome</label>
                </div>

                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>
            </div>

            <div class="row input-margin-bot">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                    <input id="txtName" class="form-control" type="text" [(ngModel)]="account.name" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <label>Email</label>
                </div>
            </div>

            <div class="row input-margin-bot">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
                    <input id="txtEmail" class="form-control" type="email" [(ngModel)]="account.email">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0">
                    <label>Sexo</label>
                </div>
            </div>

            <div class="row input-margin-bot">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <select class="form-control" name="genders" id="genders" [(ngModel)]="account.sex"
                        (change)="changeSex()">
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="other">Outro</option>
                    </select>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <input id="txtGender" class="form-control" type="text" placeholder="Outro..." [(ngModel)]="otherSex"
                        [disabled]="otherDisabled">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <label>Password</label>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <label>Confirmar password</label>
                </div>
            </div>

            <div class="row input-margin-bot">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <input id="txtPassword" class="form-control" type="password" [(ngModel)]="password">
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <input id="txtConfirmPassword" class="form-control" type="password" [(ngModel)]="confirmPassword">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <label>Nova password</label>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <label>Confirmar nova password</label>
                </div>
            </div>

            <div class="row input-margin-bot">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <input class="form-control" type="password" [(ngModel)]="newPassword">
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <input class="form-control" type="password" [(ngModel)]="confirmNewPassword">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0 col-0"></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <button id="btnSubmit" type="button" class="btn btn-primary btn-lg btn-sm btn-block"
                        style="height: 35px;" (click)="updateAccountInformation()">
                        Confirmar</button>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-6">
                    <button id="btnRevert" type="button" class="btn btn-primary btn-lg btn-sm btn-block"
                        style="height: 35px; background-color: #b51414;" (click)="revertChanges()" > Reverter
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>