<div class='card'>
    <div>
        <h5 class='card-title card-body'>Amigos</h5>
        <app-friend-list-entry></app-friend-list-entry>
        <app-friend-list-entry></app-friend-list-entry>
        <app-friend-list-entry></app-friend-list-entry>
        <app-friend-list-entry></app-friend-list-entry>
        <app-friend-list-entry></app-friend-list-entry>
        <app-friend-list-entry></app-friend-list-entry>
        <h5 class='card-title card-body'>Pedidos de amizade</h5>
        <app-friend-list-entry></app-friend-list-entry>
    </div>
</div>