<div class="container-fluid border myHeader">
    <div class="row align-items-center">
        <div class="col-4">
            <h1>BikeSocial</h1>
        </div>
        <div class="col-4">
            <input class="form-control searchBar" type="text" placeholder="Procurar no BikeSocial...">
        </div>
        <div class="col-2">
            <input class="form-control search-button" style="width: 40px" type="submit" value=""/>
        </div>
        <div class="col-2">
            <span class="d-none d-lg-inline-block">{{loggedUser.username}}</span>
        </div>

    </div>
</div>