<!-- Feito por Nuno Lopes - 16552 -->
<app-header></app-header>
    <div class='wrapper'>
        <div class='leftSpace'>
            <div class='card'>
                <div class='card-body'>
                    <span class='round-profile-picture-large center' style='margin-bottom: 10px'></span>
                    <h5 class='card-title center'>{{this.profileUser.username}}</h5>
                    <hr>
                    <p class='card-text'>{{this.profileInfo.description}}</p>
                </div>
            </div>
            <div class='card'>
                <div class='card-header'>
                    <h5 class='card-title center'>Proezas</h5>
                </div>
                <div class='card-body'>
                    <div class='center'>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                    </div>
                </div>
                <div class='card-footer'>
                    <a href='#' class='btn btn-primary'>View all</a>
                </div>
            </div>
            <div class='card'>
                <div class='card-header'>
                    <h5 class='card-title center'>Prémios</h5>
                </div>
                <div class='card-body'>
                    <div class='center'>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                        <span class='round-profile-picture-small ' style='margin-left: 10px'></span>
                    </div>
                </div>
                <div class='card-footer'>
                    <a href='#' class='btn btn-primary'>View all</a>
                </div>
            </div>
        </div>
        <div class='mainContent'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>O que pertende fazer?</h5>
                </div>
                <div class='card-footer'>
                    <a routerLink="/createrace" *ngIf="isFederationFunc" class='btn btn-primary' [ngStyle]="{'margin-right.px' : 20}">Criar Prova</a>
                    <a routerLink="/createtraining" *ngIf="isAthlete" class='btn btn-primary'>Criar Treino</a>
                </div>     
            </div>
            Provas
            <app-post-card [isImagePost]="true"></app-post-card>
            <app-post-card [isImagePost]="false"></app-post-card>
            <app-post-card [isImagePost]="false"></app-post-card>
            <app-post-card [isImagePost]="false"></app-post-card>
            Treinos
        </div>
        <div class='rightSpace'>
            <app-friend-list [profileViewing]="this.profileUser.id"></app-friend-list>
        </div>
    </div>
    <script src='https://unpkg.com/feather-icons'></script> 
    <script>
        feather.replace()
    </script>
