<!-- Feito por Nuno Lopes - 16552 -->
<app-header></app-header>
    <div class='wrapper'>
        <div class='leftSpace'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title center'>{{this.profileUser.username}}</h5>
                    <hr>
                    <p class='card-text'>{{this.profileInfo.description}}</p>
                    <p class='card-text'>Nascido em {{this.profileUser.birthDate}}</p>
                    <p class="card-text">E-Mail: {{this.profileUser.email}}</p>
                </div>
            </div>            
        </div>
        <div class='mainContent'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>O que pertende fazer?</h5>
                </div>
                <div class='card-footer'>
                    <a routerLink="/createrace" *ngIf="isFederationFunc" class='btn btn-primary' [ngStyle]="{'margin-right.px' : 20}">Criar Prova</a>
                    <a routerLink="/createtraining" *ngIf="isAthlete" class='btn btn-primary'>Criar Treino</a>
                </div>     
            </div>
            Provas
            <app-post-card *ngFor="let race of raceList" [race]="race" [isImagePost]="true" ></app-post-card>
        </div>
        <div class='rightSpace'>
            <app-friend-list [profileViewing]="this.profileRoute"></app-friend-list>
        </div>
    </div>