.wrapper
{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    justify-content: space-around;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.round-profile-picture {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
  }

.leftSpace
{
    margin-left: 50px;
}

.leftSpace > *
{
    margin-bottom: 20px;
}

.mainContent
{
    align-self: center;
    max-width: 30rem;
    min-width: 30rem;
}

.mainContent > *
{
    margin-bottom: 20px;
}

.rightSpace
{
    margin-right: 50px;
}

.rightSpace > *
{
    margin-bottom: 20px;
}

/* TODO : Melhorar responsiveness */
@media only screen and (max-width: 1000px)
{
    .wrapper
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .rightSpace
    {
        margin-right: 0px;
        align-self: baseline;
    }
    .leftSpace
    {
        margin-left: 0px;
        align-self: baseline;
    }
    .mainContent
    {
        align-self: baseline;
    }
}