<div class='card' [ngStyle]="{'margin-bottom.px': 20}">
    <h5 class='card-title card-body' [ngStyle]="{'margin-bottom.px' : 20}">José seila postou a seguinte {{isImagePost}}</h5>
    <img *ngIf="isImagePost" src='/assets/background.png' class='card-img-top' alt='...'>
    <div class='card-body'>
        <p class='card-text'>Conteudo do post</p>
    </div>
    <div class='card-footer'>
        <a href='#' class='btn btn-primary'>Like</a>
        <a href='#' class='btn btn-primary'>Comment</a>
    </div>     
</div>