 <!-- Sidebar  -->
 <nav id="sidebar" style="height: 100%;">
    <div class="sidebar-header">
        <h3 >Definições</h3>
        <strong>BS</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/18827_ricardo_sampaio/accountDefinitions.html">
                <img src="/18827_ricardo_sampaio/Imagens/profileConfigurationIcon.png" width="23px" height="23px">
                <label style="color: black;">Definições de conta</label>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/18827_ricardo_sampaio//Imagens/privacyConfigurationIcon.png" width="23px" height="23px">
                <label style="color: black;">Definições de perfil</label>
            </a>
        </li>
        <li>
            <a href="/18827_ricardo_sampaio/privacyDefinitions.html">
                <img src="/18827_ricardo_sampaio//Imagens/privacyConfigurationIcon.png" width="23px" height="23px">
                <label style="color: black;">Definições de privacidade</label>
            </a>
        </li>
    </ul>
</nav>