<!--Autor: 16552 Nuno Lopes-->
<div class='friend'>
    <span class='round-profile-picture-small' [ngStyle]="{'margin-right.px': 20}"></span>
    <span class='card-text' style='transform: translateY(-120%); margin-right: 20px;'>{{friendInfo.username}}</span>
    <span *ngIf="!isPending">
        <a href='#' style='transform: translateY(-120%); margin-right: 20px;' data-feather='message-square'></a>
        <a href='#' style='transform: translateY(-120%);' data-feather='user-x'></a>
    </span>
    
</div>