<div class="container py-5 px-lg-5" 
style="margin-top: 3rem;">

    <div id="content">

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5">
                <label class="filtros-title">Filtros</label>
            </div>
        </div>


        <div class="row">
            <div
                class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12 column-backgroud-color border-top border-left border-right border-dark rounded-top">
                <p></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 column-backgroud-color border-left border-dark">
                <label class="tipo-prova-title">Tipo de prova</label>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 column-backgroud-color border-right border-dark">
                <label class="tipo-prova-title">Localidade</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 column-backgroud-color border-left border-dark">
                <select class="escolher-prova escolha escolha" id="prova" name="tipo_prova" placeholder="Selecione"
                    required>
                    <!-- required -->>
                    <option hidden disabled selected value>Selecione</option>
                    <option value="Estrada">Estrada</option>
                    <option value="Pista">Pista</option>
                    <option value="Montanha">Montanha</option>
                    <option value="BMX">BMX</option>
                </select>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 column-backgroud-color border-right border-dark">
                <input class="escrever-localidade" type="text" required />
            </div>
        </div>

        <div class="row">
            <div
                class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12 column-backgroud-color border-bottom border-left border-right border-dark rounded-bottom">
                <p></p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5">
                <label class="provas-disponíveis">Provas Disponíveis</label>
            </div>
        </div>


        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col-1">Prova</th>
                    <th scope="col-1">Localidade</th>
                    <th scope="col-1">Dia</th>
                    <th scope="col-1">Duração</th>
                    <th scope="col-1">Distância</th>
                    <th scope="col-1">Inscrever</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let race of races">
                    <td>{{race.Description}}</td>
                    <td>{{race.Town}}</td>
                    <td>{{race.date}}</td>
                    <td>{{race.EstimatedTime}}</td>
                    <td>{{race.Distance}}</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5">
                <label class="dados">Dados</label>
            </div>
        </div>

        <div class="row">
            <div
                class="col-xl-6 col-lg-9 col-md-12 col-sm-12 col-12 column-backgroud-color border-left border-right border-top border-dark rounded-top">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-left border-dark">
                <label>Nome</label>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color">
                <label>Apelido</label>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-right border-dark">
                <label>Nome do clube</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-left border-dark">
                <input class="escrever-localidade" type="text" required disabled />
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color">
                <input class="escrever-localidade" type="text" required disabled/>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-right border-dark">
                <input class="escrever-localidade" type="text" required disabled/>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-left border-dark">
                <label>Localidade</label>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color">
                <label>Nº de telemovel</label>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-right border-dark">
                <label>Nº do clube</label>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-left border-dark">
                <input class="escrever-localidade" type="text" required disabled/>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color">
                <input class="escrever-localidade" type="text" required disabled/>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 column-backgroud-color border-right border-dark">
                <input class="escrever-localidade" type="text" required disabled/>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-9 col-md-12 col-sm-12 col-12 column-backgroud-color border-bottom rounded-bottom border-bottom border-left border-right border-dark">
                <button id="btnRevert" type="button" class="btn btn-primary btn-lg btn-sm btn-block"
                    style="height: 35px;" > Inscrever
                </button>
            </div>
        </div>

    </div>

</div>
