 <!-- Responsive navbar-->
 <div class="container-fluid border myHeader">
    <div class="row align-items-center">
        <div class="col-4">
            <h1>BikeSocial</h1>
        </div>
        <div class="col-1">
            <h4 routerLink="/login">Login</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/register">Registar</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/profile">Perfil</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/contadefinitions">Definições conta</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/privacyDefinitions">Definições privacidade</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/createrace">Criar prova</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/createtraining">Criar treino</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/inscreverprova">Inscrever prova</h4>
        </div>
        <div class="col-1">
            <h4 routerLink="/inscrevertreino">Inscrever treino</h4>
        </div>
        <div class="col-2">
            <span class="round-profile-picture-small" style="margin-right: 20px;"></span>
            <span class="d-none d-lg-inline-block" style="transform: translateY(-30px);">José Seila</span>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
