<!-- Autor: 21133 Paula Rodrigues-->
<div class="container py-5 px-lg-5" 
style="margin-top: 3rem;">
    <form class="PP">
    <div class="barra1"></div>

    <div class="head">
        <div><p class="titulo">Criar Treino </p> 
        </div>-->

        <div><p class="tipoTreino"> *Tipo de Treino </p>
        </div>

        <div>
            <p class="escolher_treino">
            <select class="scroll" id="treino" name="tipo_treino" placeholder="Selecione" required>
                <option hidden disabled selected value>Selecione</option>
                <option value="Estrada">Estrada</option>
                <option value="Pista">Pista</option>
                <option value="Montanha">Montanha</option>
                <option value="BMX">BMX</option>
            </select>
            </p>
        </div>
    </div>

    <div class="barra2"></div>

    <!-- Parte do nome, localidade e distancia-->
    <div class="NLD">
        <div class="nome"> 
           <label  for="fname">*Nome</label>
            <input class="nome1" type="text" id="fname" name="fname" required>
            
        </div>

        <div class="localidade"> 
            <label  for="fname">*Localidade</label>
            <input class="localidade1" type="text" id="fname" name="fname" required>
        </div>

        <div> 
            <p class="distancia">*Distância:</p>
        </div>
        <div> 
            <input class="distancia1" type="number" id="fname" name="fname" required>
            <label class="km">km</label>
        </div>
    </div>

<!-- Parte da Data e tempo previsto -->
    <div class="DT">
            <div>
                <p class="data">*Data: </p>
            </div>
            <div> 
                <input class="data1" type="date" id="fname" name="fname" required>
            </div>
            <div> 
                <p class="tempo">*Tempo previsto: </p>
            </div>
            <div> 
                <input class="tempo1" type="time" id="fname" name="fname" required>  
                <label class="h">h</label>   
            </div>
        
    </div>

    <!-- Parte do Incio -->
    <div> 
        <p class="inicio">*Inicio:</p>

        <div> 
            <input class="tempo2" type="time" id="fname" name="fname" required> 
            <label class="hincio">h</label>   
        </div>
    </div>
<!-- Parte da descrição -->
    <div> 
        <div class="descricao"> 
            <label  for="fname">Descrição:</label>
             <input class="descricao2" type="text" id="fname" name="fname">
         </div>
    </div>

<!-- Parte para enviar convites -->
    <div>
        <p class="convite" >Enviar convites para:</p>
        <div > 
           <div class="conviteEquipa"> 
                <input type="checkbox" id="one" /> 
                <label>Equipas</label>
            </div>
            <div class="conviteAtleta">
                <input type="checkbox" id="two" />
                <label>Atletas</label>
            </div>
        </div>
    </div>

<!-- Botao criar  -->

    <div>
        <button class="criar">
            Criar
        </button>

    </div>

    </form>

</div>
